<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>110100</integer>
				<key>name</key>
				<string>市辖区</string>
			</dict>
		</array>
		<key>code</key>
		<integer>110000</integer>
		<key>name</key>
		<string>北京市</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>120100</integer>
				<key>name</key>
				<string>市辖区</string>
			</dict>
		</array>
		<key>code</key>
		<integer>120000</integer>
		<key>name</key>
		<string>天津市</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>130100</integer>
				<key>name</key>
				<string>石家庄市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>130200</integer>
				<key>name</key>
				<string>唐山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>130300</integer>
				<key>name</key>
				<string>秦皇岛市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>130400</integer>
				<key>name</key>
				<string>邯郸市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>130500</integer>
				<key>name</key>
				<string>邢台市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>130600</integer>
				<key>name</key>
				<string>保定市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>130700</integer>
				<key>name</key>
				<string>张家口市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>130800</integer>
				<key>name</key>
				<string>承德市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>130900</integer>
				<key>name</key>
				<string>沧州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>131000</integer>
				<key>name</key>
				<string>廊坊市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>131100</integer>
				<key>name</key>
				<string>衡水市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>130000</integer>
		<key>name</key>
		<string>河北省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>140100</integer>
				<key>name</key>
				<string>太原市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>140200</integer>
				<key>name</key>
				<string>大同市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>140300</integer>
				<key>name</key>
				<string>阳泉市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>140400</integer>
				<key>name</key>
				<string>长治市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>140500</integer>
				<key>name</key>
				<string>晋城市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>140600</integer>
				<key>name</key>
				<string>朔州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>140700</integer>
				<key>name</key>
				<string>晋中市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>140800</integer>
				<key>name</key>
				<string>运城市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>140900</integer>
				<key>name</key>
				<string>忻州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>141000</integer>
				<key>name</key>
				<string>临汾市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>141100</integer>
				<key>name</key>
				<string>吕梁市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>140000</integer>
		<key>name</key>
		<string>山西省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>150100</integer>
				<key>name</key>
				<string>呼和浩特市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>150200</integer>
				<key>name</key>
				<string>包头市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>150300</integer>
				<key>name</key>
				<string>乌海市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>150400</integer>
				<key>name</key>
				<string>赤峰市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>150500</integer>
				<key>name</key>
				<string>通辽市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>150600</integer>
				<key>name</key>
				<string>鄂尔多斯市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>150700</integer>
				<key>name</key>
				<string>呼伦贝尔市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>150800</integer>
				<key>name</key>
				<string>巴彦淖尔市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>150900</integer>
				<key>name</key>
				<string>乌兰察布市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>152200</integer>
				<key>name</key>
				<string>兴安盟</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>152500</integer>
				<key>name</key>
				<string>锡林郭勒盟</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>152900</integer>
				<key>name</key>
				<string>阿拉善盟</string>
			</dict>
		</array>
		<key>code</key>
		<integer>150000</integer>
		<key>name</key>
		<string>内蒙古自治区</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>210100</integer>
				<key>name</key>
				<string>沈阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>210200</integer>
				<key>name</key>
				<string>大连市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>210300</integer>
				<key>name</key>
				<string>鞍山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>210400</integer>
				<key>name</key>
				<string>抚顺市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>210500</integer>
				<key>name</key>
				<string>本溪市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>210600</integer>
				<key>name</key>
				<string>丹东市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>210700</integer>
				<key>name</key>
				<string>锦州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>210800</integer>
				<key>name</key>
				<string>营口市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>210900</integer>
				<key>name</key>
				<string>阜新市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>211000</integer>
				<key>name</key>
				<string>辽阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>211100</integer>
				<key>name</key>
				<string>盘锦市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>211200</integer>
				<key>name</key>
				<string>铁岭市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>211300</integer>
				<key>name</key>
				<string>朝阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>211400</integer>
				<key>name</key>
				<string>葫芦岛市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>210000</integer>
		<key>name</key>
		<string>辽宁省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>220100</integer>
				<key>name</key>
				<string>长春市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>220200</integer>
				<key>name</key>
				<string>吉林市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>220300</integer>
				<key>name</key>
				<string>四平市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>220400</integer>
				<key>name</key>
				<string>辽源市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>220500</integer>
				<key>name</key>
				<string>通化市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>220600</integer>
				<key>name</key>
				<string>白山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>220700</integer>
				<key>name</key>
				<string>松原市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>220800</integer>
				<key>name</key>
				<string>白城市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>222400</integer>
				<key>name</key>
				<string>延边朝鲜族自治州</string>
			</dict>
		</array>
		<key>code</key>
		<integer>220000</integer>
		<key>name</key>
		<string>吉林省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>230100</integer>
				<key>name</key>
				<string>哈尔滨市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>230200</integer>
				<key>name</key>
				<string>齐齐哈尔市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>230300</integer>
				<key>name</key>
				<string>鸡西市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>230400</integer>
				<key>name</key>
				<string>鹤岗市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>230500</integer>
				<key>name</key>
				<string>双鸭山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>230600</integer>
				<key>name</key>
				<string>大庆市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>230700</integer>
				<key>name</key>
				<string>伊春市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>230800</integer>
				<key>name</key>
				<string>佳木斯市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>230900</integer>
				<key>name</key>
				<string>七台河市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>231000</integer>
				<key>name</key>
				<string>牡丹江市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>231100</integer>
				<key>name</key>
				<string>黑河市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>231200</integer>
				<key>name</key>
				<string>绥化市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>232700</integer>
				<key>name</key>
				<string>大兴安岭地区</string>
			</dict>
		</array>
		<key>code</key>
		<integer>230000</integer>
		<key>name</key>
		<string>黑龙江省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>310100</integer>
				<key>name</key>
				<string>市辖区</string>
			</dict>
		</array>
		<key>code</key>
		<integer>310000</integer>
		<key>name</key>
		<string>上海市</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>320100</integer>
				<key>name</key>
				<string>南京市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>320200</integer>
				<key>name</key>
				<string>无锡市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>320300</integer>
				<key>name</key>
				<string>徐州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>320400</integer>
				<key>name</key>
				<string>常州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>320500</integer>
				<key>name</key>
				<string>苏州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>320600</integer>
				<key>name</key>
				<string>南通市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>320700</integer>
				<key>name</key>
				<string>连云港市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>320800</integer>
				<key>name</key>
				<string>淮安市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>320900</integer>
				<key>name</key>
				<string>盐城市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>321000</integer>
				<key>name</key>
				<string>扬州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>321100</integer>
				<key>name</key>
				<string>镇江市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>321200</integer>
				<key>name</key>
				<string>泰州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>321300</integer>
				<key>name</key>
				<string>宿迁市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>320000</integer>
		<key>name</key>
		<string>江苏省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>330100</integer>
				<key>name</key>
				<string>杭州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>330200</integer>
				<key>name</key>
				<string>宁波市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>330300</integer>
				<key>name</key>
				<string>温州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>330400</integer>
				<key>name</key>
				<string>嘉兴市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>330500</integer>
				<key>name</key>
				<string>湖州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>330600</integer>
				<key>name</key>
				<string>绍兴市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>330700</integer>
				<key>name</key>
				<string>金华市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>330800</integer>
				<key>name</key>
				<string>衢州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>330900</integer>
				<key>name</key>
				<string>舟山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>331000</integer>
				<key>name</key>
				<string>台州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>331100</integer>
				<key>name</key>
				<string>丽水市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>330000</integer>
		<key>name</key>
		<string>浙江省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>340100</integer>
				<key>name</key>
				<string>合肥市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>340200</integer>
				<key>name</key>
				<string>芜湖市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>340300</integer>
				<key>name</key>
				<string>蚌埠市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>340400</integer>
				<key>name</key>
				<string>淮南市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>340500</integer>
				<key>name</key>
				<string>马鞍山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>340600</integer>
				<key>name</key>
				<string>淮北市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>340700</integer>
				<key>name</key>
				<string>铜陵市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>340800</integer>
				<key>name</key>
				<string>安庆市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>341000</integer>
				<key>name</key>
				<string>黄山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>341100</integer>
				<key>name</key>
				<string>滁州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>341200</integer>
				<key>name</key>
				<string>阜阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>341300</integer>
				<key>name</key>
				<string>宿州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>341400</integer>
				<key>name</key>
				<string>巢湖市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>341500</integer>
				<key>name</key>
				<string>六安市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>341600</integer>
				<key>name</key>
				<string>亳州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>341700</integer>
				<key>name</key>
				<string>池州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>341800</integer>
				<key>name</key>
				<string>宣城市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>340000</integer>
		<key>name</key>
		<string>安徽省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>350100</integer>
				<key>name</key>
				<string>福州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>350200</integer>
				<key>name</key>
				<string>厦门市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>350300</integer>
				<key>name</key>
				<string>莆田市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>350400</integer>
				<key>name</key>
				<string>三明市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>350500</integer>
				<key>name</key>
				<string>泉州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>350600</integer>
				<key>name</key>
				<string>漳州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>350700</integer>
				<key>name</key>
				<string>南平市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>350800</integer>
				<key>name</key>
				<string>龙岩市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>350900</integer>
				<key>name</key>
				<string>宁德市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>350000</integer>
		<key>name</key>
		<string>福建省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>360100</integer>
				<key>name</key>
				<string>南昌市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>360200</integer>
				<key>name</key>
				<string>景德镇市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>360300</integer>
				<key>name</key>
				<string>萍乡市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>360400</integer>
				<key>name</key>
				<string>九江市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>360500</integer>
				<key>name</key>
				<string>新余市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>360600</integer>
				<key>name</key>
				<string>鹰潭市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>360700</integer>
				<key>name</key>
				<string>赣州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>360800</integer>
				<key>name</key>
				<string>吉安市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>360900</integer>
				<key>name</key>
				<string>宜春市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>361000</integer>
				<key>name</key>
				<string>抚州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>361100</integer>
				<key>name</key>
				<string>上饶市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>360000</integer>
		<key>name</key>
		<string>江西省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>370100</integer>
				<key>name</key>
				<string>济南市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>370200</integer>
				<key>name</key>
				<string>青岛市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>370300</integer>
				<key>name</key>
				<string>淄博市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>370400</integer>
				<key>name</key>
				<string>枣庄市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>370500</integer>
				<key>name</key>
				<string>东营市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>370600</integer>
				<key>name</key>
				<string>烟台市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>370700</integer>
				<key>name</key>
				<string>潍坊市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>370800</integer>
				<key>name</key>
				<string>济宁市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>370900</integer>
				<key>name</key>
				<string>泰安市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>371000</integer>
				<key>name</key>
				<string>威海市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>371100</integer>
				<key>name</key>
				<string>日照市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>371200</integer>
				<key>name</key>
				<string>莱芜市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>371300</integer>
				<key>name</key>
				<string>临沂市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>371400</integer>
				<key>name</key>
				<string>德州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>371500</integer>
				<key>name</key>
				<string>聊城市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>371600</integer>
				<key>name</key>
				<string>滨州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>371700</integer>
				<key>name</key>
				<string>菏泽市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>370000</integer>
		<key>name</key>
		<string>山东省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>410100</integer>
				<key>name</key>
				<string>郑州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>410200</integer>
				<key>name</key>
				<string>开封市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>410300</integer>
				<key>name</key>
				<string>洛阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>410400</integer>
				<key>name</key>
				<string>平顶山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>410500</integer>
				<key>name</key>
				<string>安阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>410600</integer>
				<key>name</key>
				<string>鹤壁市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>410700</integer>
				<key>name</key>
				<string>新乡市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>410800</integer>
				<key>name</key>
				<string>焦作市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>410900</integer>
				<key>name</key>
				<string>濮阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>411000</integer>
				<key>name</key>
				<string>许昌市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>411100</integer>
				<key>name</key>
				<string>漯河市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>411200</integer>
				<key>name</key>
				<string>三门峡市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>411300</integer>
				<key>name</key>
				<string>南阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>411400</integer>
				<key>name</key>
				<string>商丘市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>411500</integer>
				<key>name</key>
				<string>信阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>411600</integer>
				<key>name</key>
				<string>周口市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>411700</integer>
				<key>name</key>
				<string>驻马店市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>410000</integer>
		<key>name</key>
		<string>河南省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>420100</integer>
				<key>name</key>
				<string>武汉市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>420200</integer>
				<key>name</key>
				<string>黄石市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>420300</integer>
				<key>name</key>
				<string>十堰市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>420500</integer>
				<key>name</key>
				<string>宜昌市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>420600</integer>
				<key>name</key>
				<string>襄樊市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>420700</integer>
				<key>name</key>
				<string>鄂州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>420800</integer>
				<key>name</key>
				<string>荆门市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>420900</integer>
				<key>name</key>
				<string>孝感市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>421000</integer>
				<key>name</key>
				<string>荆州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>421100</integer>
				<key>name</key>
				<string>黄冈市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>421200</integer>
				<key>name</key>
				<string>咸宁市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>421300</integer>
				<key>name</key>
				<string>随州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>422800</integer>
				<key>name</key>
				<string>恩施土家族苗族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>429000</integer>
				<key>name</key>
				<string>省直辖行政单位</string>
			</dict>
		</array>
		<key>code</key>
		<integer>420000</integer>
		<key>name</key>
		<string>湖北省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>430100</integer>
				<key>name</key>
				<string>长沙市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>430200</integer>
				<key>name</key>
				<string>株洲市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>430300</integer>
				<key>name</key>
				<string>湘潭市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>430400</integer>
				<key>name</key>
				<string>衡阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>430500</integer>
				<key>name</key>
				<string>邵阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>430600</integer>
				<key>name</key>
				<string>岳阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>430700</integer>
				<key>name</key>
				<string>常德市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>430800</integer>
				<key>name</key>
				<string>张家界市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>430900</integer>
				<key>name</key>
				<string>益阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>431000</integer>
				<key>name</key>
				<string>郴州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>431100</integer>
				<key>name</key>
				<string>永州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>431200</integer>
				<key>name</key>
				<string>怀化市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>431300</integer>
				<key>name</key>
				<string>娄底市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>433100</integer>
				<key>name</key>
				<string>湘西土家族苗族自治州</string>
			</dict>
		</array>
		<key>code</key>
		<integer>430000</integer>
		<key>name</key>
		<string>湖南省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>440100</integer>
				<key>name</key>
				<string>广州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>440200</integer>
				<key>name</key>
				<string>韶关市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>440300</integer>
				<key>name</key>
				<string>深圳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>440400</integer>
				<key>name</key>
				<string>珠海市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>440500</integer>
				<key>name</key>
				<string>汕头市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>440600</integer>
				<key>name</key>
				<string>佛山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>440700</integer>
				<key>name</key>
				<string>江门市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>440800</integer>
				<key>name</key>
				<string>湛江市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>440900</integer>
				<key>name</key>
				<string>茂名市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>441200</integer>
				<key>name</key>
				<string>肇庆市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>441300</integer>
				<key>name</key>
				<string>惠州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>441400</integer>
				<key>name</key>
				<string>梅州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>441500</integer>
				<key>name</key>
				<string>汕尾市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>441600</integer>
				<key>name</key>
				<string>河源市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>441700</integer>
				<key>name</key>
				<string>阳江市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>441800</integer>
				<key>name</key>
				<string>清远市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>441900</integer>
				<key>name</key>
				<string>东莞市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>442000</integer>
				<key>name</key>
				<string>中山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>445100</integer>
				<key>name</key>
				<string>潮州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>445200</integer>
				<key>name</key>
				<string>揭阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>445300</integer>
				<key>name</key>
				<string>云浮市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>440000</integer>
		<key>name</key>
		<string>广东省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>450100</integer>
				<key>name</key>
				<string>南宁市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>450200</integer>
				<key>name</key>
				<string>柳州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>450300</integer>
				<key>name</key>
				<string>桂林市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>450400</integer>
				<key>name</key>
				<string>梧州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>450500</integer>
				<key>name</key>
				<string>北海市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>450600</integer>
				<key>name</key>
				<string>防城港市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>450700</integer>
				<key>name</key>
				<string>钦州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>450800</integer>
				<key>name</key>
				<string>贵港市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>450900</integer>
				<key>name</key>
				<string>玉林市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>451000</integer>
				<key>name</key>
				<string>百色市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>451100</integer>
				<key>name</key>
				<string>贺州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>451200</integer>
				<key>name</key>
				<string>河池市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>451300</integer>
				<key>name</key>
				<string>来宾市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>451400</integer>
				<key>name</key>
				<string>崇左市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>450000</integer>
		<key>name</key>
		<string>广西壮族自治区</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>460100</integer>
				<key>name</key>
				<string>海口市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>460200</integer>
				<key>name</key>
				<string>三亚市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>469000</integer>
				<key>name</key>
				<string>省直辖县级行政单位</string>
			</dict>
		</array>
		<key>code</key>
		<integer>460000</integer>
		<key>name</key>
		<string>海南省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>500100</integer>
				<key>name</key>
				<string>市辖区</string>
			</dict>
		</array>
		<key>code</key>
		<integer>500000</integer>
		<key>name</key>
		<string>重庆市</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>510100</integer>
				<key>name</key>
				<string>成都市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>510300</integer>
				<key>name</key>
				<string>自贡市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>510400</integer>
				<key>name</key>
				<string>攀枝花市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>510500</integer>
				<key>name</key>
				<string>泸州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>510600</integer>
				<key>name</key>
				<string>德阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>510700</integer>
				<key>name</key>
				<string>绵阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>510800</integer>
				<key>name</key>
				<string>广元市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>510900</integer>
				<key>name</key>
				<string>遂宁市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>511000</integer>
				<key>name</key>
				<string>内江市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>511100</integer>
				<key>name</key>
				<string>乐山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>511300</integer>
				<key>name</key>
				<string>南充市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>511400</integer>
				<key>name</key>
				<string>眉山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>511500</integer>
				<key>name</key>
				<string>宜宾市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>511600</integer>
				<key>name</key>
				<string>广安市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>511700</integer>
				<key>name</key>
				<string>达州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>511800</integer>
				<key>name</key>
				<string>雅安市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>511900</integer>
				<key>name</key>
				<string>巴中市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>512000</integer>
				<key>name</key>
				<string>资阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>513200</integer>
				<key>name</key>
				<string>阿坝藏族羌族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>513300</integer>
				<key>name</key>
				<string>甘孜藏族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>513400</integer>
				<key>name</key>
				<string>凉山彝族自治州</string>
			</dict>
		</array>
		<key>code</key>
		<integer>510000</integer>
		<key>name</key>
		<string>四川省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>520100</integer>
				<key>name</key>
				<string>贵阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>520200</integer>
				<key>name</key>
				<string>六盘水市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>520300</integer>
				<key>name</key>
				<string>遵义市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>520400</integer>
				<key>name</key>
				<string>安顺市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>522200</integer>
				<key>name</key>
				<string>铜仁地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>522300</integer>
				<key>name</key>
				<string>黔西南布依族苗族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>522400</integer>
				<key>name</key>
				<string>毕节地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>522600</integer>
				<key>name</key>
				<string>黔东南苗族侗族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>522700</integer>
				<key>name</key>
				<string>黔南布依族苗族自治州</string>
			</dict>
		</array>
		<key>code</key>
		<integer>520000</integer>
		<key>name</key>
		<string>贵州省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>530100</integer>
				<key>name</key>
				<string>昆明市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>530300</integer>
				<key>name</key>
				<string>曲靖市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>530400</integer>
				<key>name</key>
				<string>玉溪市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>530500</integer>
				<key>name</key>
				<string>保山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>530600</integer>
				<key>name</key>
				<string>昭通市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>530700</integer>
				<key>name</key>
				<string>丽江市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>530800</integer>
				<key>name</key>
				<string>思茅市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>530900</integer>
				<key>name</key>
				<string>临沧市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>532300</integer>
				<key>name</key>
				<string>楚雄彝族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>532500</integer>
				<key>name</key>
				<string>红河哈尼族彝族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>532600</integer>
				<key>name</key>
				<string>文山壮族苗族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>532800</integer>
				<key>name</key>
				<string>西双版纳傣族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>532900</integer>
				<key>name</key>
				<string>大理白族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>533100</integer>
				<key>name</key>
				<string>德宏傣族景颇族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>533300</integer>
				<key>name</key>
				<string>怒江傈僳族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>533400</integer>
				<key>name</key>
				<string>迪庆藏族自治州</string>
			</dict>
		</array>
		<key>code</key>
		<integer>530000</integer>
		<key>name</key>
		<string>云南省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>540100</integer>
				<key>name</key>
				<string>拉萨市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>542100</integer>
				<key>name</key>
				<string>昌都地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>542200</integer>
				<key>name</key>
				<string>山南地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>542300</integer>
				<key>name</key>
				<string>日喀则地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>542400</integer>
				<key>name</key>
				<string>那曲地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>542500</integer>
				<key>name</key>
				<string>阿里地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>542600</integer>
				<key>name</key>
				<string>林芝地区</string>
			</dict>
		</array>
		<key>code</key>
		<integer>540000</integer>
		<key>name</key>
		<string>西藏自治区</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>610100</integer>
				<key>name</key>
				<string>西安市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>610200</integer>
				<key>name</key>
				<string>铜川市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>610300</integer>
				<key>name</key>
				<string>宝鸡市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>610400</integer>
				<key>name</key>
				<string>咸阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>610500</integer>
				<key>name</key>
				<string>渭南市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>610600</integer>
				<key>name</key>
				<string>延安市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>610700</integer>
				<key>name</key>
				<string>汉中市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>610800</integer>
				<key>name</key>
				<string>榆林市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>610900</integer>
				<key>name</key>
				<string>安康市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>611000</integer>
				<key>name</key>
				<string>商洛市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>610000</integer>
		<key>name</key>
		<string>陕西省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>620100</integer>
				<key>name</key>
				<string>兰州市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>620200</integer>
				<key>name</key>
				<string>嘉峪关市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>620300</integer>
				<key>name</key>
				<string>金昌市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>620400</integer>
				<key>name</key>
				<string>白银市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>620500</integer>
				<key>name</key>
				<string>天水市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>620600</integer>
				<key>name</key>
				<string>武威市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>620700</integer>
				<key>name</key>
				<string>张掖市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>620800</integer>
				<key>name</key>
				<string>平凉市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>620900</integer>
				<key>name</key>
				<string>酒泉市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>621000</integer>
				<key>name</key>
				<string>庆阳市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>621100</integer>
				<key>name</key>
				<string>定西市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>621200</integer>
				<key>name</key>
				<string>陇南市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>622900</integer>
				<key>name</key>
				<string>临夏回族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>623000</integer>
				<key>name</key>
				<string>甘南藏族自治州</string>
			</dict>
		</array>
		<key>code</key>
		<integer>620000</integer>
		<key>name</key>
		<string>甘肃省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>630100</integer>
				<key>name</key>
				<string>西宁市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>632100</integer>
				<key>name</key>
				<string>海东地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>632200</integer>
				<key>name</key>
				<string>海北藏族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>632300</integer>
				<key>name</key>
				<string>黄南藏族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>632500</integer>
				<key>name</key>
				<string>海南藏族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>632600</integer>
				<key>name</key>
				<string>果洛藏族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>632700</integer>
				<key>name</key>
				<string>玉树藏族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>632800</integer>
				<key>name</key>
				<string>海西蒙古族藏族自治州</string>
			</dict>
		</array>
		<key>code</key>
		<integer>630000</integer>
		<key>name</key>
		<string>青海省</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>640100</integer>
				<key>name</key>
				<string>银川市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>640200</integer>
				<key>name</key>
				<string>石嘴山市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>640300</integer>
				<key>name</key>
				<string>吴忠市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>640400</integer>
				<key>name</key>
				<string>固原市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>640500</integer>
				<key>name</key>
				<string>中卫市</string>
			</dict>
		</array>
		<key>code</key>
		<integer>640000</integer>
		<key>name</key>
		<string>宁夏回族自治区</string>
	</dict>
	<dict>
		<key>citys</key>
		<array>
			<dict>
				<key>code</key>
				<integer>650100</integer>
				<key>name</key>
				<string>乌鲁木齐市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>650200</integer>
				<key>name</key>
				<string>克拉玛依市</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>652100</integer>
				<key>name</key>
				<string>吐鲁番地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>652200</integer>
				<key>name</key>
				<string>哈密地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>652300</integer>
				<key>name</key>
				<string>昌吉回族自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>652700</integer>
				<key>name</key>
				<string>博尔塔拉蒙古自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>652800</integer>
				<key>name</key>
				<string>巴音郭楞蒙古自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>652900</integer>
				<key>name</key>
				<string>阿克苏地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>653000</integer>
				<key>name</key>
				<string>克孜勒苏柯尔克孜自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>653100</integer>
				<key>name</key>
				<string>喀什地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>653200</integer>
				<key>name</key>
				<string>和田地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>654000</integer>
				<key>name</key>
				<string>伊犁哈萨克自治州</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>654200</integer>
				<key>name</key>
				<string>塔城地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>654300</integer>
				<key>name</key>
				<string>阿勒泰地区</string>
			</dict>
			<dict>
				<key>code</key>
				<integer>659000</integer>
				<key>name</key>
				<string>省直辖行政单位</string>
			</dict>
		</array>
		<key>code</key>
		<integer>650000</integer>
		<key>name</key>
		<string>新疆维吾尔自治区</string>
	</dict>
</array>
</plist>
