<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>000000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>000000</key>
			<string>其他</string>
		</dict>
		<key>name</key>
		<string>其他</string>
	</dict>
	<key>110000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>110100</key>
			<string>市辖区</string>
		</dict>
		<key>name</key>
		<string>北京市</string>
	</dict>
	<key>120000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>120100</key>
			<string>市辖区</string>
		</dict>
		<key>name</key>
		<string>天津市</string>
	</dict>
	<key>130000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>130100</key>
			<string>石家庄市</string>
			<key>130200</key>
			<string>唐山市</string>
			<key>130300</key>
			<string>秦皇岛市</string>
			<key>130400</key>
			<string>邯郸市</string>
			<key>130500</key>
			<string>邢台市</string>
			<key>130600</key>
			<string>保定市</string>
			<key>130700</key>
			<string>张家口市</string>
			<key>130800</key>
			<string>承德市</string>
			<key>130900</key>
			<string>沧州市</string>
			<key>131000</key>
			<string>廊坊市</string>
			<key>131100</key>
			<string>衡水市</string>
		</dict>
		<key>name</key>
		<string>河北省</string>
	</dict>
	<key>140000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>140100</key>
			<string>太原市</string>
			<key>140200</key>
			<string>大同市</string>
			<key>140300</key>
			<string>阳泉市</string>
			<key>140400</key>
			<string>长治市</string>
			<key>140500</key>
			<string>晋城市</string>
			<key>140600</key>
			<string>朔州市</string>
			<key>140700</key>
			<string>晋中市</string>
			<key>140800</key>
			<string>运城市</string>
			<key>140900</key>
			<string>忻州市</string>
			<key>141000</key>
			<string>临汾市</string>
			<key>141100</key>
			<string>吕梁市</string>
		</dict>
		<key>name</key>
		<string>山西省</string>
	</dict>
	<key>150000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>150100</key>
			<string>呼和浩特市</string>
			<key>150200</key>
			<string>包头市</string>
			<key>150300</key>
			<string>乌海市</string>
			<key>150400</key>
			<string>赤峰市</string>
			<key>150500</key>
			<string>通辽市</string>
			<key>150600</key>
			<string>鄂尔多斯市</string>
			<key>150700</key>
			<string>呼伦贝尔市</string>
			<key>150800</key>
			<string>巴彦淖尔市</string>
			<key>150900</key>
			<string>乌兰察布市</string>
			<key>152200</key>
			<string>兴安盟</string>
			<key>152500</key>
			<string>锡林郭勒盟</string>
			<key>152900</key>
			<string>阿拉善盟</string>
		</dict>
		<key>name</key>
		<string>内蒙古自治区</string>
	</dict>
	<key>210000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>210100</key>
			<string>沈阳市</string>
			<key>210200</key>
			<string>大连市</string>
			<key>210300</key>
			<string>鞍山市</string>
			<key>210400</key>
			<string>抚顺市</string>
			<key>210500</key>
			<string>本溪市</string>
			<key>210600</key>
			<string>丹东市</string>
			<key>210700</key>
			<string>锦州市</string>
			<key>210800</key>
			<string>营口市</string>
			<key>210900</key>
			<string>阜新市</string>
			<key>211000</key>
			<string>辽阳市</string>
			<key>211100</key>
			<string>盘锦市</string>
			<key>211200</key>
			<string>铁岭市</string>
			<key>211300</key>
			<string>朝阳市</string>
			<key>211400</key>
			<string>葫芦岛市</string>
		</dict>
		<key>name</key>
		<string>辽宁省</string>
	</dict>
	<key>220000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>220100</key>
			<string>长春市</string>
			<key>220200</key>
			<string>吉林市</string>
			<key>220300</key>
			<string>四平市</string>
			<key>220400</key>
			<string>辽源市</string>
			<key>220500</key>
			<string>通化市</string>
			<key>220600</key>
			<string>白山市</string>
			<key>220700</key>
			<string>松原市</string>
			<key>220800</key>
			<string>白城市</string>
			<key>222400</key>
			<string>延边朝鲜族自治州</string>
		</dict>
		<key>name</key>
		<string>吉林省</string>
	</dict>
	<key>230000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>230100</key>
			<string>哈尔滨市</string>
			<key>230200</key>
			<string>齐齐哈尔市</string>
			<key>230300</key>
			<string>鸡西市</string>
			<key>230400</key>
			<string>鹤岗市</string>
			<key>230500</key>
			<string>双鸭山市</string>
			<key>230600</key>
			<string>大庆市</string>
			<key>230700</key>
			<string>伊春市</string>
			<key>230800</key>
			<string>佳木斯市</string>
			<key>230900</key>
			<string>七台河市</string>
			<key>231000</key>
			<string>牡丹江市</string>
			<key>231100</key>
			<string>黑河市</string>
			<key>231200</key>
			<string>绥化市</string>
			<key>232700</key>
			<string>大兴安岭地区</string>
		</dict>
		<key>name</key>
		<string>黑龙江省</string>
	</dict>
	<key>310000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>310100</key>
			<string>市辖区</string>
		</dict>
		<key>name</key>
		<string>上海市</string>
	</dict>
	<key>320000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>320100</key>
			<string>南京市</string>
			<key>320200</key>
			<string>无锡市</string>
			<key>320300</key>
			<string>徐州市</string>
			<key>320400</key>
			<string>常州市</string>
			<key>320500</key>
			<string>苏州市</string>
			<key>320600</key>
			<string>南通市</string>
			<key>320700</key>
			<string>连云港市</string>
			<key>320800</key>
			<string>淮安市</string>
			<key>320900</key>
			<string>盐城市</string>
			<key>321000</key>
			<string>扬州市</string>
			<key>321100</key>
			<string>镇江市</string>
			<key>321200</key>
			<string>泰州市</string>
			<key>321300</key>
			<string>宿迁市</string>
		</dict>
		<key>name</key>
		<string>江苏省</string>
	</dict>
	<key>330000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>330100</key>
			<string>杭州市</string>
			<key>330200</key>
			<string>宁波市</string>
			<key>330300</key>
			<string>温州市</string>
			<key>330400</key>
			<string>嘉兴市</string>
			<key>330500</key>
			<string>湖州市</string>
			<key>330600</key>
			<string>绍兴市</string>
			<key>330700</key>
			<string>金华市</string>
			<key>330800</key>
			<string>衢州市</string>
			<key>330900</key>
			<string>舟山市</string>
			<key>331000</key>
			<string>台州市</string>
			<key>331100</key>
			<string>丽水市</string>
		</dict>
		<key>name</key>
		<string>浙江省</string>
	</dict>
	<key>340000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>340100</key>
			<string>合肥市</string>
			<key>340200</key>
			<string>芜湖市</string>
			<key>340300</key>
			<string>蚌埠市</string>
			<key>340400</key>
			<string>淮南市</string>
			<key>340500</key>
			<string>马鞍山市</string>
			<key>340600</key>
			<string>淮北市</string>
			<key>340700</key>
			<string>铜陵市</string>
			<key>340800</key>
			<string>安庆市</string>
			<key>341000</key>
			<string>黄山市</string>
			<key>341100</key>
			<string>滁州市</string>
			<key>341200</key>
			<string>阜阳市</string>
			<key>341300</key>
			<string>宿州市</string>
			<key>341400</key>
			<string>巢湖市</string>
			<key>341500</key>
			<string>六安市</string>
			<key>341600</key>
			<string>亳州市</string>
			<key>341700</key>
			<string>池州市</string>
			<key>341800</key>
			<string>宣城市</string>
		</dict>
		<key>name</key>
		<string>安徽省</string>
	</dict>
	<key>350000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>350100</key>
			<string>福州市</string>
			<key>350200</key>
			<string>厦门市</string>
			<key>350300</key>
			<string>莆田市</string>
			<key>350400</key>
			<string>三明市</string>
			<key>350500</key>
			<string>泉州市</string>
			<key>350600</key>
			<string>漳州市</string>
			<key>350700</key>
			<string>南平市</string>
			<key>350800</key>
			<string>龙岩市</string>
			<key>350900</key>
			<string>宁德市</string>
		</dict>
		<key>name</key>
		<string>福建省</string>
	</dict>
	<key>360000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>360100</key>
			<string>南昌市</string>
			<key>360200</key>
			<string>景德镇市</string>
			<key>360300</key>
			<string>萍乡市</string>
			<key>360400</key>
			<string>九江市</string>
			<key>360500</key>
			<string>新余市</string>
			<key>360600</key>
			<string>鹰潭市</string>
			<key>360700</key>
			<string>赣州市</string>
			<key>360800</key>
			<string>吉安市</string>
			<key>360900</key>
			<string>宜春市</string>
			<key>361000</key>
			<string>抚州市</string>
			<key>361100</key>
			<string>上饶市</string>
		</dict>
		<key>name</key>
		<string>江西省</string>
	</dict>
	<key>370000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>370100</key>
			<string>济南市</string>
			<key>370200</key>
			<string>青岛市</string>
			<key>370300</key>
			<string>淄博市</string>
			<key>370400</key>
			<string>枣庄市</string>
			<key>370500</key>
			<string>东营市</string>
			<key>370600</key>
			<string>烟台市</string>
			<key>370700</key>
			<string>潍坊市</string>
			<key>370800</key>
			<string>济宁市</string>
			<key>370900</key>
			<string>泰安市</string>
			<key>371000</key>
			<string>威海市</string>
			<key>371100</key>
			<string>日照市</string>
			<key>371200</key>
			<string>莱芜市</string>
			<key>371300</key>
			<string>临沂市</string>
			<key>371400</key>
			<string>德州市</string>
			<key>371500</key>
			<string>聊城市</string>
			<key>371600</key>
			<string>滨州市</string>
			<key>371700</key>
			<string>菏泽市</string>
		</dict>
		<key>name</key>
		<string>山东省</string>
	</dict>
	<key>410000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>410100</key>
			<string>郑州市</string>
			<key>410200</key>
			<string>开封市</string>
			<key>410300</key>
			<string>洛阳市</string>
			<key>410400</key>
			<string>平顶山市</string>
			<key>410500</key>
			<string>安阳市</string>
			<key>410600</key>
			<string>鹤壁市</string>
			<key>410700</key>
			<string>新乡市</string>
			<key>410800</key>
			<string>焦作市</string>
			<key>410900</key>
			<string>濮阳市</string>
			<key>411000</key>
			<string>许昌市</string>
			<key>411100</key>
			<string>漯河市</string>
			<key>411200</key>
			<string>三门峡市</string>
			<key>411300</key>
			<string>南阳市</string>
			<key>411400</key>
			<string>商丘市</string>
			<key>411500</key>
			<string>信阳市</string>
			<key>411600</key>
			<string>周口市</string>
			<key>411700</key>
			<string>驻马店市</string>
		</dict>
		<key>name</key>
		<string>河南省</string>
	</dict>
	<key>420000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>420100</key>
			<string>武汉市</string>
			<key>420200</key>
			<string>黄石市</string>
			<key>420300</key>
			<string>十堰市</string>
			<key>420500</key>
			<string>宜昌市</string>
			<key>420600</key>
			<string>襄樊市</string>
			<key>420700</key>
			<string>鄂州市</string>
			<key>420800</key>
			<string>荆门市</string>
			<key>420900</key>
			<string>孝感市</string>
			<key>421000</key>
			<string>荆州市</string>
			<key>421100</key>
			<string>黄冈市</string>
			<key>421200</key>
			<string>咸宁市</string>
			<key>421300</key>
			<string>随州市</string>
			<key>422800</key>
			<string>恩施土家族苗族自治州</string>
			<key>429000</key>
			<string>省直辖行政单位</string>
		</dict>
		<key>name</key>
		<string>湖北省</string>
	</dict>
	<key>430000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>430100</key>
			<string>长沙市</string>
			<key>430200</key>
			<string>株洲市</string>
			<key>430300</key>
			<string>湘潭市</string>
			<key>430400</key>
			<string>衡阳市</string>
			<key>430500</key>
			<string>邵阳市</string>
			<key>430600</key>
			<string>岳阳市</string>
			<key>430700</key>
			<string>常德市</string>
			<key>430800</key>
			<string>张家界市</string>
			<key>430900</key>
			<string>益阳市</string>
			<key>431000</key>
			<string>郴州市</string>
			<key>431100</key>
			<string>永州市</string>
			<key>431200</key>
			<string>怀化市</string>
			<key>431300</key>
			<string>娄底市</string>
			<key>433100</key>
			<string>湘西土家族苗族自治州</string>
		</dict>
		<key>name</key>
		<string>湖南省</string>
	</dict>
	<key>440000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>440100</key>
			<string>广州市</string>
			<key>440200</key>
			<string>韶关市</string>
			<key>440300</key>
			<string>深圳市</string>
			<key>440400</key>
			<string>珠海市</string>
			<key>440500</key>
			<string>汕头市</string>
			<key>440600</key>
			<string>佛山市</string>
			<key>440700</key>
			<string>江门市</string>
			<key>440800</key>
			<string>湛江市</string>
			<key>440900</key>
			<string>茂名市</string>
			<key>441200</key>
			<string>肇庆市</string>
			<key>441300</key>
			<string>惠州市</string>
			<key>441400</key>
			<string>梅州市</string>
			<key>441500</key>
			<string>汕尾市</string>
			<key>441600</key>
			<string>河源市</string>
			<key>441700</key>
			<string>阳江市</string>
			<key>441800</key>
			<string>清远市</string>
			<key>441900</key>
			<string>东莞市</string>
			<key>442000</key>
			<string>中山市</string>
			<key>445100</key>
			<string>潮州市</string>
			<key>445200</key>
			<string>揭阳市</string>
			<key>445300</key>
			<string>云浮市</string>
		</dict>
		<key>name</key>
		<string>广东省</string>
	</dict>
	<key>450000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>450100</key>
			<string>南宁市</string>
			<key>450200</key>
			<string>柳州市</string>
			<key>450300</key>
			<string>桂林市</string>
			<key>450400</key>
			<string>梧州市</string>
			<key>450500</key>
			<string>北海市</string>
			<key>450600</key>
			<string>防城港市</string>
			<key>450700</key>
			<string>钦州市</string>
			<key>450800</key>
			<string>贵港市</string>
			<key>450900</key>
			<string>玉林市</string>
			<key>451000</key>
			<string>百色市</string>
			<key>451100</key>
			<string>贺州市</string>
			<key>451200</key>
			<string>河池市</string>
			<key>451300</key>
			<string>来宾市</string>
			<key>451400</key>
			<string>崇左市</string>
		</dict>
		<key>name</key>
		<string>广西壮族自治区</string>
	</dict>
	<key>460000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>460100</key>
			<string>海口市</string>
			<key>460200</key>
			<string>三亚市</string>
			<key>469000</key>
			<string>省直辖县级行政单位</string>
		</dict>
		<key>name</key>
		<string>海南省</string>
	</dict>
	<key>500000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>500100</key>
			<string>市辖区</string>
		</dict>
		<key>name</key>
		<string>重庆市</string>
	</dict>
	<key>510000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>510100</key>
			<string>成都市</string>
			<key>510300</key>
			<string>自贡市</string>
			<key>510400</key>
			<string>攀枝花市</string>
			<key>510500</key>
			<string>泸州市</string>
			<key>510600</key>
			<string>德阳市</string>
			<key>510700</key>
			<string>绵阳市</string>
			<key>510800</key>
			<string>广元市</string>
			<key>510900</key>
			<string>遂宁市</string>
			<key>511000</key>
			<string>内江市</string>
			<key>511100</key>
			<string>乐山市</string>
			<key>511300</key>
			<string>南充市</string>
			<key>511400</key>
			<string>眉山市</string>
			<key>511500</key>
			<string>宜宾市</string>
			<key>511600</key>
			<string>广安市</string>
			<key>511700</key>
			<string>达州市</string>
			<key>511800</key>
			<string>雅安市</string>
			<key>511900</key>
			<string>巴中市</string>
			<key>512000</key>
			<string>资阳市</string>
			<key>513200</key>
			<string>阿坝藏族羌族自治州</string>
			<key>513300</key>
			<string>甘孜藏族自治州</string>
			<key>513400</key>
			<string>凉山彝族自治州</string>
		</dict>
		<key>name</key>
		<string>四川省</string>
	</dict>
	<key>520000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>520100</key>
			<string>贵阳市</string>
			<key>520200</key>
			<string>六盘水市</string>
			<key>520300</key>
			<string>遵义市</string>
			<key>520400</key>
			<string>安顺市</string>
			<key>522200</key>
			<string>铜仁地区</string>
			<key>522300</key>
			<string>黔西南布依族苗族自治州</string>
			<key>522400</key>
			<string>毕节地区</string>
			<key>522600</key>
			<string>黔东南苗族侗族自治州</string>
			<key>522700</key>
			<string>黔南布依族苗族自治州</string>
		</dict>
		<key>name</key>
		<string>贵州省</string>
	</dict>
	<key>530000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>530100</key>
			<string>昆明市</string>
			<key>530300</key>
			<string>曲靖市</string>
			<key>530400</key>
			<string>玉溪市</string>
			<key>530500</key>
			<string>保山市</string>
			<key>530600</key>
			<string>昭通市</string>
			<key>530700</key>
			<string>丽江市</string>
			<key>530800</key>
			<string>思茅市</string>
			<key>530900</key>
			<string>临沧市</string>
			<key>532300</key>
			<string>楚雄彝族自治州</string>
			<key>532500</key>
			<string>红河哈尼族彝族自治州</string>
			<key>532600</key>
			<string>文山壮族苗族自治州</string>
			<key>532800</key>
			<string>西双版纳傣族自治州</string>
			<key>532900</key>
			<string>大理白族自治州</string>
			<key>533100</key>
			<string>德宏傣族景颇族自治州</string>
			<key>533300</key>
			<string>怒江傈僳族自治州</string>
			<key>533400</key>
			<string>迪庆藏族自治州</string>
		</dict>
		<key>name</key>
		<string>云南省</string>
	</dict>
	<key>540000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>540100</key>
			<string>拉萨市</string>
			<key>542100</key>
			<string>昌都地区</string>
			<key>542200</key>
			<string>山南地区</string>
			<key>542300</key>
			<string>日喀则地区</string>
			<key>542400</key>
			<string>那曲地区</string>
			<key>542500</key>
			<string>阿里地区</string>
			<key>542600</key>
			<string>林芝地区</string>
		</dict>
		<key>name</key>
		<string>西藏自治区</string>
	</dict>
	<key>610000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>610100</key>
			<string>西安市</string>
			<key>610200</key>
			<string>铜川市</string>
			<key>610300</key>
			<string>宝鸡市</string>
			<key>610400</key>
			<string>咸阳市</string>
			<key>610500</key>
			<string>渭南市</string>
			<key>610600</key>
			<string>延安市</string>
			<key>610700</key>
			<string>汉中市</string>
			<key>610800</key>
			<string>榆林市</string>
			<key>610900</key>
			<string>安康市</string>
			<key>611000</key>
			<string>商洛市</string>
		</dict>
		<key>name</key>
		<string>陕西省</string>
	</dict>
	<key>620000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>620100</key>
			<string>兰州市</string>
			<key>620200</key>
			<string>嘉峪关市</string>
			<key>620300</key>
			<string>金昌市</string>
			<key>620400</key>
			<string>白银市</string>
			<key>620500</key>
			<string>天水市</string>
			<key>620600</key>
			<string>武威市</string>
			<key>620700</key>
			<string>张掖市</string>
			<key>620800</key>
			<string>平凉市</string>
			<key>620900</key>
			<string>酒泉市</string>
			<key>621000</key>
			<string>庆阳市</string>
			<key>621100</key>
			<string>定西市</string>
			<key>621200</key>
			<string>陇南市</string>
			<key>622900</key>
			<string>临夏回族自治州</string>
			<key>623000</key>
			<string>甘南藏族自治州</string>
		</dict>
		<key>name</key>
		<string>甘肃省</string>
	</dict>
	<key>630000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>630100</key>
			<string>西宁市</string>
			<key>632100</key>
			<string>海东地区</string>
			<key>632200</key>
			<string>海北藏族自治州</string>
			<key>632300</key>
			<string>黄南藏族自治州</string>
			<key>632500</key>
			<string>海南藏族自治州</string>
			<key>632600</key>
			<string>果洛藏族自治州</string>
			<key>632700</key>
			<string>玉树藏族自治州</string>
			<key>632800</key>
			<string>海西蒙古族藏族自治州</string>
		</dict>
		<key>name</key>
		<string>青海省</string>
	</dict>
	<key>640000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>640100</key>
			<string>银川市</string>
			<key>640200</key>
			<string>石嘴山市</string>
			<key>640300</key>
			<string>吴忠市</string>
			<key>640400</key>
			<string>固原市</string>
			<key>640500</key>
			<string>中卫市</string>
		</dict>
		<key>name</key>
		<string>宁夏回族自治区</string>
	</dict>
	<key>650000</key>
	<dict>
		<key>citys</key>
		<dict>
			<key>650100</key>
			<string>乌鲁木齐市</string>
			<key>650200</key>
			<string>克拉玛依市</string>
			<key>652100</key>
			<string>吐鲁番地区</string>
			<key>652200</key>
			<string>哈密地区</string>
			<key>652300</key>
			<string>昌吉回族自治州</string>
			<key>652700</key>
			<string>博尔塔拉蒙古自治州</string>
			<key>652800</key>
			<string>巴音郭楞蒙古自治州</string>
			<key>652900</key>
			<string>阿克苏地区</string>
			<key>653000</key>
			<string>克孜勒苏柯尔克孜自治州</string>
			<key>653100</key>
			<string>喀什地区</string>
			<key>653200</key>
			<string>和田地区</string>
			<key>654000</key>
			<string>伊犁哈萨克自治州</string>
			<key>654200</key>
			<string>塔城地区</string>
			<key>654300</key>
			<string>阿勒泰地区</string>
			<key>659000</key>
			<string>省直辖行政单位</string>
		</dict>
		<key>name</key>
		<string>新疆维吾尔自治区</string>
	</dict>
</dict>
</plist>
